<div class="row" id="repos">
  <div class="col-md-12">
    Commits:
    <hr>
      <% @commits.each do |commit| %>
        <div class="row">
          <div class=" col-sm-12">
            <p class="repo_commit_list">Pushed <%= pluralize commit[:total], "commit" %> to <%= commit[:repo] %></p>
            <div class="commit_list hidden">
              <% commit[:commits].each do |commit| %>
                <div class="row">
                  <div class="col-sm-11 col-sm-offset-1">
                    <a href="<%= commit[:url] %>" class="commit"><%= commit[:short_sha] %> - <%= time_ago_in_words commit[:date] %>: <%= commit[:message] %></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
